In [1]:
from composeml import LabelMaker
from featuretools.demo import load_mock_customer

In [2]:
full_df = load_mock_customer(return_single_table=True)

In [3]:
def my_labeling_function(df_slice):
    label = df_slice["amount"].mean() > 80
    return label

In [4]:
lm = LabelMaker(
    target_entity="customer_id",
    time_index="transaction_time",
    labeling_function=my_labeling_function,
    window_size="2h",
)

In [5]:
lt = lm.search(
    full_df,
    minimum_data="1h",
    num_examples_per_instance=2,
    gap="2h",
)

lt

                                 my_labeling_function
customer_id time
1           2014-01-01 01:45:30                 False
            2014-01-01 03:45:30                 False
2           2014-01-01 01:00:00                  True
            2014-01-01 03:00:00                  True
3           2014-01-01 02:45:05                 False
            2014-01-01 04:45:05                 False
4           2014-01-01 01:39:00                 False
            2014-01-01 03:39:00                  True
5           2014-01-01 01:18:25                 False
            2014-01-01 03:18:25                 False

In [6]:
lt.summarize()

False    7
True     3
Name: my_labeling_function, dtype: int64

In [7]:
lt.describe()

target_entity                         customer_id
function                     my_labeling_function
num_examples_per_instance                       2
minimum_data                                   1h
window_size                                    2h
gap                                            2h
dtype: object